
<div class="container" id="footer">
    <div class="mini-container">

        <div class="top-button">
            <a href="#"> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#43baff"
                    class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                    <path
                        d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
                </svg></a>

        </div>

        <div class="logo-footer">
            <img width="50px" height="50px" src="assets/Logo Color.svg"  alt="">
        </div>

        <br><br><br>
        <div class="footer-contact">
            <div class="footer-contact-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#43baff"
                    class="bi bi-globe-americas" viewBox="0 0 16 16">
                    <path
                        d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484q-.121.12-.242.234c-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z" />
                </svg>
                <br><br>

                <h6>Bukhara City , Uzbekistan </h6>

                <p>Our Address</p>
            </div>

            <div class="footer-contact-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#43baff"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                </svg>
                <br><br>
                <h6>muhammadabdullo0204&#64;gmail.com</h6>
                <p>Our Mailbox</p>
            </div>
            <div class="footer-contact-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#43baff"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg>
                <br><br>
                <h6>+998 94 683 14 59</h6>
                <p>Our Phone</p>
            </div>

        </div>


        <br><br><br>
        <div class="footer-box">
            <div class="footer-list">
                <ul>
                    <li><a href="#navbar">Home</a></li>
                    <li><a href="#main-information-2">Features</a></li>
                    <li><a href="#main-information-3">Pricing</a></li>
                    <li><a href="#footer">Blog</a></li>
    
                </ul>
    
    
    
            </div>
    
       
    
            <br>
    
            <div class="footer-icons">
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/twitter.png" alt="twitter"/>
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/facebook-new.png" alt="facebook-new"/>
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/instagram-new--v1.png" alt="instagram-new--v1"/>
                <img width="30" height="30" src="https://img.icons8.com/ios-filled/50/telegram.png" alt="telegram"/>
            </div>
            <br>
            <br>
            <div class="creator">
                <p>Copyright © 2024 logoipsum by muhammadabdullo. All Rights Reserved.</p>
            </div>
        </div>
       



    </div>


</div>