
 
        .logos::before, 
        .logos::after {
            content: '';
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
        }
 
        .logos::before {
            left: 0;
            background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
        }
 
        .logos::after {
            right: 0;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
        }
 
        .logos-slide {
            animation: 15s slide infinite linear;
        }
 
        .logos:hover .logos-slide {
            animation-play-state:paused;
        }
 
        .logos-slide img {
            height: 60px;
            margin: 0 50px;
        }
 
        @keyframes slide {
            from{
                transform: translateX(100%);
            }
 
            to {
                transform: translateX(-100%);
            }
        }


        @media only screen and (max-width: 1400px) {
            .logos {
        
                margin-top: 250px;
            }
            
        }

