<div class="container" id="navbar">

    <div class="mini_container">
        <div class="text-box">
            <h1>Grow your subsription business</h1>

            <p>Outcome-centered products that reduce churn, optimize pricing, and grow your subscription business end-to-end.</p>

            <br><br>
            <button> Get Started</button>
        </div>

        <div class="image-box">
            <img  width="610px" height="640px" src="assets/Hero 3D.png" alt="">
        </div>

    </div>
</div>