<div class="container" id="main-information-2">
    <div class="mini-container">

        <div class="image-box">
            <img width="349px" height="473px" src="assets/Content Image 02.png" alt="">
        </div>

        <div class="text-box">
            <h1>Subrcription index</h1> 
            <p>A daily dataset to keep you up to date on subrcription market trends and what's happening in your vertical.</p>
            <p>Learn more <img width="30" height="30" src="https://img.icons8.com/ios/50/right--v1.png" alt="right--v1"/></p>
         </div>
    </div>
</div>

<div class="container">
    <div class="mini-container">



        <div class="text-box">
            <h1>In-depth metrics</h1> 
            <p> Accurate , real-time reporting at your fingertips. Getting data has never been easier.</p>
            <p>Learn more <img width="30" height="30" src="https://img.icons8.com/ios/50/right--v1.png" alt="right--v1"/></p>
         </div>

         <div class="image-box">
            <img width="349px" height="473px" src="assets/Content Image.png" alt="">
        </div>
    </div>
</div>


<div class="container-2">
    <div class="mini-container-2">
        <div class="div-box"> 
            <div class="img-box">
                <img width="114px" height="64px" src="assets/Card.png" alt="">

            </div>
             <h1>Benchmarks</h1>
             <p>See how you stack up againts comparable companies in similar stages</p>
        </div>

        <div class="div-box"> 
            <div class="img-box">
            <img width="114px" height="64px" src="assets/Calculator.png" alt="">
            </div>
            <h1>Princing Audit</h1>
            <p>Benchmark the health of your onetization and princing strategy.</p>
        </div>

        <div class="div-box"> 
            <div class="img-box-2">
            <img width="114px" height="64px" src="assets/Camera.png" alt="">
            </div>
            <h1>Retention Audit</h1>
            <p>Audit where revenue leakage exist and where you can increase retention</p>
        </div>

    </div>
</div>